.about img{
    width: 15%;
    border: 1px solid gray;
}
.personal-information{
    display: flex;
    justify-content : space-evenly;
    margin-top: 30px;
}
.goals-section{
    margin: 20px 180px;
}

@media only screen and (max-width: 800px){
    .personal-information{
        display: block;
        margin: 20px 30px;
    }
    .about img{
        width: 100%;
        margin: 15px 0;
    }
    .goals-section{
        margin: 20px 30px;
    }
}